* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
  text-align: center;
  -webkit-text-size-adjust: 100%;
}

img {
  width: 100%;
}

section {
  width: 100%;
  height: 5rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px black;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

a:hover {
  color: gray;
  border-bottom-color: gray;
}