@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,400,600&display=swap");
html,
body,
ol,
ul {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
  text-align: center;
  -webkit-text-size-adjust: 100%;
}

img {
  width: 100%;
}

section {
  width: 100%;
  height: 5rem;
}

p {
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px black;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0 0.5rem;
}

a:hover {
  color: gray;
  border-bottom-color: gray;
}
