@import "reset";
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,400,600&display=swap");

body {
  font: {
    family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  }
  text: {
    align: center;
  }
  -webkit-text-size-adjust: 100%;
  position: relative;
}

img {
  width: 100%;
}

#svglayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

section {
  width: 100%;
  height: 5rem;
}

p, h1 {
  margin: {
    bottom: 1rem;
  }
  padding: {
    left: 1rem;
    right: 1rem;
  }
}

div.words {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  max-width: 720px;
  text-align: justify;
  text-align-last: left;
  margin: {
    left: auto;
    right: auto;
  }
  padding: 2rem 0 8rem 0;
  box-shadow: 2px 2px 4px gray;
  border-radius: 4px;
  section {
    height: 2.5rem;
  }
  p, h1 {
    padding: {
      left: 2rem;
      right: 2rem;
    }
  }
}

@media (max-width: 720px) {
  div.words {
    box-shadow: none;
    border-radius: initial;
    padding: 0;
  }
}

a {
  text: {
    transform: uppercase;
    decoration: none;
  }
  color: inherit;
  border: {
    top: none;
    left: none;
    right: none;
    bottom: solid 2px black;
    radius: 0 0 0.5rem 0.5rem;
  }
  padding: 0 0.5rem;
}

a:hover {
  color: gray;
  border: {
    bottom: {
      color: gray;
    }
  }
}