@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200,400,600&display=swap");
html,
body,
ol,
ul {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  text-align: center;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

img {
  width: 100%;
}

#svglayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

section {
  width: 100%;
  height: 5rem;
}

p, h1 {
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

div.words {
  font-family: 'IBM Plex Serif', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  max-width: 720px;
  text-align: justify;
  text-align-last: left;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0 8rem 0;
  -webkit-box-shadow: 2px 2px 4px gray;
          box-shadow: 2px 2px 4px gray;
  border-radius: 4px;
}

div.words section {
  height: 2.5rem;
}

div.words p, div.words h1, div.words li {
  padding-left: 2rem;
  padding-right: 2rem;
}

div.words p.tag {
  text-align: right;
  text-align-last: initial;
  font-size: 0.875rem;
}

div.words#toc {
  text-align: left;
}

div.words#toc ul {
  list-style-type: none;
}

div.words#toc ul li a {
  text-transform: unset;
  text-decoration: underline;
  border: none;
  padding: unset;
  line-height: 1.5rem;
}

p#jump {
  font-size: 0.625rem;
}

p#jump a {
  text-transform: unset;
  text-decoration: underline;
  border: none;
}

@media (max-width: 720px) {
  div.words {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: initial;
    padding: 0;
  }
  div.words p, div.words h1, div.words li {
    padding-left: 1.33rem;
    padding-right: 1.33rem;
  }
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px black;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0 0.5rem;
}

a:hover {
  color: gray;
  border-bottom-color: gray;
}
